body{
    box-sizing: border-box;
    background-color: rgb(185, 200, 239);
    margin: 0px;
}

.top{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 15vh;
    background-color: rgb(211, 226, 255);
    box-shadow: 0px 5px 5px rgb(207, 204, 204);
}

.top #title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.top img{
    height: 50%;
}

.top p{
    font-size: 50px;
}

.link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}

.link a{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(236, 43, 43);
}

.link img{
    height: 5vh;
}

input.info{
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgb(207, 204, 204);
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px;
    margin-right: 10px;
    outline: 0px;
}

input[type=button]{
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgb(207, 204, 204);
    background-color: white;
    color: rgb(103, 100, 97);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px;
    cursor: pointer;
    margin: 0px 5px;
}

.form{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.data{
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-top: 35px;
}

.days{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.mainCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.dayCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 350px;
    background-color: rgb(1, 5, 15);;
    border-radius: 15px;
    margin: 20px 20px;
    box-shadow: 0px 10px 10px rgb(74, 74, 74);
}

.dayCont p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(59, 58, 58);
    border-bottom: solid 5px;
}

.dayInf{
    display: flex;
    justify-content: center;
    width: 100%;
}

.row{
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    color: rgb(59, 58, 58);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(10, 9, 14);
    margin: 5px 0px;
}

.row img{
    height: 25px;
}

.none{
    display: none;
    justify-content: center;
}

.none p{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.location{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
}
